.col-sm-4.col-md-3.proto-content
  .thumbnail
    %a{:href => "/tags/1"}
      %button.btn.btn-tag{:name => "button", :type => "submit"} タグ名
    .tag-meta
      %a.label.label-default.tag-list-number{:href => "/tags/1"}
        （タグ名に紐づくプロトタイプ数）
        %i Projects

